<small>
    <span class="oi oi-heart meta-icon"></span> @Points points 
    <span class="oi oi-person meta-icon pl-3"></span><a class="pl-1" href="/user/@User">@User</a> 
    <span class="oi oi-clock meta-icon pl-3"></span><a class="pl-1" href="/item/@Id">@TimeAgo</a>
    <span class="pl-3 pr-3"> | </span>
    <a target="_blank" href="https://hn.algolia.com/?query=@Title&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0">past</a>
    <span class="pl-3 pr-3"> | </span>
    <a target="_blank" href="https://www.bing.com/search?q=@Title">web</a>
    <span class="pl-3 pr-3"> | </span>
    <a href="/item/@Id" class="badge badge-pill badge-info">@CommentsCount comments</a>
</small>
@functions{
    [Parameter]
    int Points { get; set; }
    [Parameter]
    int CommentsCount { get; set; }
    [Parameter]
    string User { get; set; }
    [Parameter]
    int Id { get; set; }
    [Parameter]
    string TimeAgo { get; set; }
    [Parameter]
    string Title { get; set; }
}